@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* General formatting */
* {
    font-family: Open Sans;
    color: #eebbc3;
}

html {
    background-color: #232946;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #eebbc3;
}

a:hover{
    color: #eebbc370;
}

label {
    font-family: Open Sans;
    font-size: 15px;
    vertical-align: middle;
}

img {
    width: 100%;
}

img:not(footer img):hover{
    opacity: 75%;
    background-color: #eebbc370;
    transform: scale(.99);
}

p {
    color: #b8c1ec;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
}

/*Navbar formatting*/
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #232946;
    border-bottom: 5px solid #eebbc3;
    font-size: 1rem;
}
.navbar h1 {
    display: flex;
    color: #fffffe;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3e4773;
    border-radius: 0px 10px 10px 0px;
}

.navbar h2 {
    display: absolute;
    color: #fffffe;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.navbar h1 .droid {
    color:#eebbc3;
}

main section h2{
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    width: 15%;
}

/* Link formatting */
.links {
    list-style-type: none;
    color: #eebbc3;
    font-family: Open Sans;
    background-color: #3e4773;
    text-align: left;
    margin-right: 0px;
    font-size: 1rem;
}

.links ul {
    margin: 0px;
    padding: 5px;
}

.links ul li {
    display: inline-table;
    margin: 5px
}

/* Main content formatting */
main section {
    margin-left: 10px;
}

main * div {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 1rem;
}

main * div a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-shrink: 2;
}

main * div a:first-child {
    width: 100%;
}

main * div a:not(:first-child) {
    width: 50%;
    flex-wrap: wrap;
}

main * div a img{
    color:  #cccccc;
    border: 5px solid #00000020;
    max-height: 100px;
    object-fit: cover;
    min-width: 100%;
}

main * div a label{ 
    position:absolute;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #00000075;
    border-radius: 0px 0px 10px;
}

/* About me formatting */

/* Socials formatting */
main #socials ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
}
main #socials ul li{
    align-content: center;
    margin-right: 10px;
    font-size: 40px;
}

/* Contact formatting */
main #contact ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
}
main #contact ul li{
    align-content: center;
    margin-right: 10px;
    font-size: 25px;
}

.fa {
    display:flex;
    text-align: center;
  }

  /* Begin footer formatting */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer * {
    margin: 0;
}

footer img {
    height: 185px;
    width: 150px;
    margin: 10px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 960px) {
    .navbar { font-size: 3vw; }
    main { font-size:2vw;}  
    main * { font-size: 3vw;}
    main #socials ul li { font-size: 5vw }
    main #contact ul li { font-size: 4vw }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    .navbar { font-size:3vw; }
    main { font-size: 3vw;} 
    main * { font-size: 3vw;}
    main #projects div a { flex-shrink: 3; }
}